extends layout

block contents
    #content
block scripts
    script.
        new Vue({
            el: '#content',
            data() {
                return {

                }
            },
            created() {

            },
            methods: {

            },
            computed: {
                
            }
        });